:root {
    /* --name:value; */
    --primary-font: 'Sevillana', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 60vh;
    width: 70%;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
}

.card-text {
    height: 100%;
    width: 50%;
    color: lightgrey;
    background-color: rgb(28, 87, 95);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    position: relative;

}

.card-text input[type="button"] {
    width: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--primary-font);
    border-radius: 20px;
    padding: 10px 0;
    position: absolute;
    bottom: 10px;
    left: 25%;
    /* margin-left: 120px; */
}

.card-title>h1 {
    font-family: var(--primary-font);
    margin-bottom: 20px;
}

.card-title>h1>span {
    color: tomato;
}

.card-state {
    display: flex;
    justify-content: space-evenly;
}

.card-img {
    height: 100%;
    width: 50%;
    position: relative;
}

.card-img>img {
    filter: grayscale(100%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(10, 243, 21);
    /* position practice demo: */
    position: absolute;
    /* top: 10%;
    left: 10%; */
    /* right: 10%; */
    /* bottom: 10%; */
    opacity: .33;
    z-index: 1;
    /* transition: all ease-in-out 3s; */
}

.card:hover .overlay {
    opacity: 0;
}

.card:hover .card-img>img {
    filter: grayscale(0%);
}

/* small screen */
@media only screen and (max-width:576px) {
    .card {
        height: 90vh;
        display: flex;
        flex-direction: column-reverse;
    }

    .card-text {
        height: 70%;
        width: 100%;
        /* padding: 25px; */
    }

    .card-img {
        height: 30%;
        width: 100%;
    }
}

/* medium screen */
@media only screen and (min-width: 577px)and (max-width: 768px) {
    .card {
        height: 90vh;
        display: flex;
        flex-direction: column;
    }

    .card-text {
        height: 65%;
        width: 100%;
    }

    .card-img {
        height: 35%;
        width: 100%;
    }
}

/* large screen */
@media only screen and (min-width: 769px)and (max-width: 992px) {
    .card-text {
        width: 70%;
    }

    .card-img {
        width: 30%;
    }

}